{{define "title"}}List of Files{{end}}

{{define "body"}}
<h1>List of Files</h1>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th class="min-width">Owner</th>
			<th class="min-width"></th>
		</tr>
	</thead>
	<tbody>
    {{ range .Data }}
    	<tr>
    	    <td><a href="/file/retrieve?id={{ .ID }}">{{ .Name }}</a></td>
    	    <td><a href="/user/retrieve?id={{ .Owner.ID }}">{{ .Owner }}</a></td>
			
			<td>
				<a class="btn btn-danger btn-xs" href="/file/delete?id={{.ID}}" role="button">Remove</a>
			</td> 				
    	</tr>
		{{if or .Description .Tags }}
			<tr>
				<td colspan="3" class="active">
					<dl class="dl-horizontal">
				{{if .Tags}}
					<dt>Tags</dt>
					<dd>
						{{range .Tags}}
							<span class="label label-primary">{{.}}</span>
						{{end}}
					</dd>
				{{else}}
					Not tagged
				{{end}}			
					  <dt>Description</dt>
					  <dd>{{.Description}}</dd>
					</dl>
				</td>
			</tr>
		{{end}}
    {{else}}
    	<tr>
    		<td colspan="3" class="active" style="text-align:center;">No files</td>
    	</tr>
    {{ end }}
	</tbody>
</table>
{{end}}