{{define "title"}}File: {{.Data.Name}}{{end}}

{{define "body"}}
    {{$fileId := .Data.ID}}
	<h1>File: {{.Data.Name}}</h1>
    <table>
		<tbody>
        	<tr>
        		<td>Id</td>
        		<td>{{.Data.ID}}</td>
        	</tr>
			<tr>
        		<td>Name</td>
        		<td>{{.Data.Name}}</td>
        	</tr>
            <tr>
                <td>Owner</td>
                <td>{{.Data.Owner}}</td>
            </tr>
            <tr>
                <td>Uploaded</td>
                <td>{{.Data.Uploaded}}</td>
            </tr>
            <tr>
                <th colspan="2">Tags</th>
            </tr>
        	<tr>
        		<td colspan="2">
                 <ul id="tags">
                  {{range .Data.Tags }}
                    <li>{{.}}</li>
                  {{end}}
                </ul>
                <script type="text/javascript">
                  $(document).ready(function() {
                      $.getJSON('/file/tags',function(data){
                          var availableTags = [];

                          for(var tag in data){
                            availableTags.push(tag);
                          }

                          $("#tags").tagit({
                            availableTags: availableTags,
                            beforeTagRemoved: function(e,ui){
                                $.post('/file/tags/remove',{
                                    id: {{.Data.ID}},
                                    tag: ui.tagLabel
                                });
                            },
                            beforeTagAdded:function(e,ui){
                                if(!ui.duringInitialization){
                                    $.post('/file/tags/add',{
                                        id: {{.Data.ID}},
                                        tag: ui.tagLabel
                                    });
                                }
                            }
                          });
                      }); 
                  });
                </script>
        		</td>
        	</tr>
            <tr>
                <th colspan="2">Users</th>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/file/users/add?id={{$fileId}}">Add user</a>                    
        			<ul>
        				{{range .Data.Users}}
        				<li>{{.}} - <a href="/file/users/remove?id={{$fileId}}&uid={{.ID}}">Remove</a></li>
        				{{end}}
        			</ul>
        		</td>
        	</tr>
            <tr>
                <th colspan="2">Roles</th>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="/file/roles/add?id={{$fileId}}">Add role</a>
        			<ul>
        				{{range .Data.Roles}}
        				<li>{{.}} - <a href="/file/roles/remove?id={{$fileId}}&rid={{.ID}}">Remove</a></li></li>
        				{{end}}
        			</ul>
        		</td>
        	</tr>
			<tr>
        		<td colspan="2"><a href="/file/download?id={{$fileId}}">Download</a></td>
        	</tr>        	        		
		</tbody>
    </table>
{{end}}