{{define "title"}}Search results for {{.Params "q" }}{{end}}

{{define "body"}}
<h1>Search results for "{{.Params "query" }}"</h1>
<table>
	<thead>
		<tr>
			<td colspan="3">
				<form action="/file/search">
					<input type="search" placeholder="Search" name="query" value="{{.Params "query" }}" style="float:right;"/>
				</form>				
			</td>
		</tr>		
		<tr>
			<th>Name</th>
			<th>Tags</th>
			<th>Owner</th>
		</tr>
	</thead>
	<tbody>
    {{ range .Data }}
    	<tr>
    	    <td><a href="/file/retrieve?id={{ .ID }}">{{ .Name }}</a></td>
			<td>
				{{if .Tags}}
					<ul>
						{{range .Tags}}
							<li>{{.}}</li>
						{{end}}
					</ul>
				{{else}}
					Not tagged
				{{end}}
			</td>
    	    <td>{{ .Owner }}</td>
    	</tr>
    {{else}}
    	<tr>
    		<td colspan="3" style="text-align:center;">No files found for query "{{.Params "query"}}"</td>
    	</tr>
    {{ end }}
	</tbody>
</table>
{{end}}