{{define "title"}}Upload file{{end}}

{{define "body"}}
<fieldset>
	<legend>Upload file</legend>
	<form action="/file/upload" method="post" enctype="multipart/form-data">
		File(s): <input type="file" name="file" multiple required/>
		<ul id="fileList"></ul>
		<input type="submit" value="Upload" />			
	</form>
</fieldset>
<script type="text/javascript">
	(function(){
		var fileInput = document.getElementsByName("file")[0];
		fileInput.onchange = function(){
			var fLen = fileInput.files.length;
			var filesList = document.getElementById("fileList");
			filesList.innerHTML = '';
			if(fLen > 1){
				for(var x = 0; x < fLen; x++){
					var file = fileInput.files[x];
					filesList.innerHTML += '<li>'+file.name+'</li>';
				}
				filesList.style.display = 'block';
			}else{
				filesList.style.display = 'none';
			}
		}
	}());
</script>
{{end}}