{{define "title"}}Initializing application{{end}}

{{define "body"}}
<h1>{{template "title" .}}</h1>
<p>Please provide user details for the administration user in order for the application to start the initialization process.</p>
<form method="post" action="/init" autocomplete="off" role="form" class="form-horizontal">
	<div class="form-group">
      <input type="email" name="email" autofocus="autofocus" required="required" placeholder="Email" class="form-control"/>
    </div>
	<div class="form-group">
      <input type="password" name="password" required="required" pattern=".{8,16}" placeholder="Password" class="form-control"/>
    </div>
	<div class="form-group">
      <input type="password" name="password-again" required="required" placeholder="Password (again)" class="form-control"/>    
	</div>
	<div class="form-group">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Initialize application</button>	
	</div>
</form>
{{end}}