{{define "title"}}Initializing application{{end}}

{{define "body"}}
<h1>{{template "title" .}}</h1>
<form method="post" action="/init" autocomplete="off">
  <div>
    <div>
      <span>Email:</span>
      <span><input type="email" name="email" autofocus="autofocus" required="required" /></span>
    </div>
    <div>
      <span>Password:</span>
      <span><input type="password" name="password" required="required" pattern=".{8,16}"/></span>
    </div>
    <div>
      <span>Password (again):</span>
      <span><input type="password" name="password-again" required="required"/></span>
    </div>        
  </div>
  <div><input type="submit" value="Create admin user" /></div>
</form>
{{end}}