body {
	padding:20px;
	margin:20px;
	background-color: #EAEAEA;
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
	border: 2px solid white;
	font-family: sans-serif;
	font-size: 10pt;
}

h1 {
	margin-top: 0px;
}

table {
	width: 100%;
	border: 0px;
}

th {
	padding: 5px;
	text-align: left;
}

td {
	padding: 5px;
}

tr:nth-child(even) td { 
	background-color:#fff; 
}

tr:nth-child(odd) td { 
	background-color:#eee; 
}

tr:hover td {
	background-color:#f7f7f7;
}

a:link{
	color: #0A5273;
}

a:visited{
	color: #002041;
}

fieldset {
	border: 1px solid #002041;
}

legend {
	font-size: 14pt;
}

td.action {
	width: 75px;
	text-align: center;
}


th.action {
	text-align: center;
}

#flash {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;	
}

#flash ul {
	margin: 3px;
	padding: 0px;
	display: inline-block;
}

#flash li {
	line-height: 32px;
	padding: 10px;
	padding-left: 32px;
	background-color: #BDE5F8;;
	color: #00529B;;
	border: 1px solid #00529B;;
	opacity: 0.75;
	list-style-position:inside;
	list-style-type: none;
	background-image: url('/static/images/important.png');
	background-position: 5px center;
	background-repeat: no-repeat;
	margin-bottom: 2px;
	cursor: pointer;
}

#validationErrors {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	text-align: center;	
}

#validationErrors ul {
	margin: 0px;
	padding: 0px;
	text-align: left;	
}

#validationErrors > ul {
	margin: 3px;
	padding: 0px;
	display: inline-block;
}

#validationErrors li {
	white-space: nowrap;
	list-style-position:inside;
}

#validationErrors > ul > li {
	line-height: 32px;
	padding: 10px;
	background-color: #BDE5F8;;
	color: #00529B;;
	border: 1px solid #00529B;;
	opacity: 0.75;
	list-style-type: none;
	margin-bottom: 2px;
	cursor: pointer;
}

#header {
	background-color: #333;
}

#navigation ul.menu {
	background-color: #eee;
	padding: 10px;
	margin: 0px;
}

#navigation ul.menu li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

#content {
	padding: 20px;
	background-color: white;
}

#footer {
	text-align: center;
	padding: 5px;
	background-color: white;
}


