body {
	padding:20px;
	margin:20px;
	background-color: #EAEAEA;
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
	border: 2px solid white;
	font-family: sans-serif;
	font-size: 10pt;
}

h1 {
	margin-top: 0px;
}

table {
	width: 100%;
	border: 0px;
}

th {
	padding: 5px;
	text-align: left;
}

td {
	padding: 5px;
}

tr:nth-child(even) td { 
	background-color:#fff; 
}

tr:nth-child(odd) td { 
	background-color:#ccc; 
}

a:link{
	color: #0A5273;
}

a:visited{
	color: #002041;
}

fieldset {
	border: 1px solid #002041;
}

legend {
	font-size: 14pt;
}

td.action {
	width: 75px;
	text-align: center;
}


th.action {
	text-align: center;
}

#header {
	background-color: #333;
}

#navigation ul.menu {
	background-color: #eee;
	padding: 10px;
	margin: 0px;
}

#navigation ul.menu li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

#content {
	padding: 20px;
	background-color: white;
}

#footer {
	text-align: center;
	padding: 5px;
	background-color: white;
}


