<!DOCTYPE html>
<html>
<head>
<title>Add user to role</title>
</head>

<body>
	<h1>Add user to role: {{.Data.Role.Name}}</h1>
    <form method="post" action="/role/users/add?id={{.Data.Role.ID}}" autocomplete="off">
      <div>
        {{range .Data.Users}}
        <div>        
          <input type="checkbox" name="uid" id="uid{{.ID}}" value="{{.ID}}" />
          <label for="uid{{.ID}}">{{.Email}}</label>
        </div>
        {{end}}      
      </div>
      <div><input type="submit" value="Add user(s)" /></div>
    </form>
</body>

</html>