{{define "title"}}List of Roles{{end}}

{{define "body"}}
<h1>List of Roles</h1>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th class="min-width"><a href="/role/create" class="btn btn-primary" role="button">Create new Role</a></th>
		</tr>
	</thead>
	<tbody>
    {{ range .Data }}
    	<tr>
    	    <td><a href="/role/retrieve?id={{ .ID }}">{{ .Name }}</a></td>
			<td style="text-align: right;">
			  <a href="/role/update?id={{ .ID }}" role="button" class="btn btn-primary btn-xs">Edit</a>
			  <a href="/role/delete?id={{ .ID }}" role="button" class="btn btn-danger btn-xs">Remove</a>
			</td>
    	</tr>
    {{ end }}
	</tbody>
</table>
{{end}}