{{define "title"}}Welcome to CloudFiler{{end}}

{{define "body"}}
<h1>Welcome to CloudFiler</h1>
<p>CloudFiler is a a simple web based access controlled file archive. Upload files and share them with users on a per user or group level.</p>
<p>To get started, <a href="/file/upload">upload a file</a> and/or view <a href="/file/list">your available files</a></p>

<h2>Features</h2>
<ul>
	<li>Administration of users and their access to files.</li>
	<li>User level and/or role level based access.</li>
	<li>Multiple file upload solution.</li>
	<li>Add metadata to files through file description or file tags.</li>
	<li>File search functionality that leverages free text searching on filename and description and tags.</li>
	<li>Rich user-interface: filter and sort files in realtime on client side through javascript.</li>
	<li>Built using Google Go, making it extremely fast and scalable!</li>
</ul>
{{end}}
