<!DOCTYPE html>
<html>
<head>
<title>List of Users</title>
</head>

<body>
	<h1>List of Users</h1>
    <table border="1">
		<thead>
			<tr>
				<th>Email</th>
				<th colspan="2"><a href="/user/create">Create new User</a></th>
			</tr>
		</thead>
        {{ range .Data }}
		<tbody>
        	<tr>
        	    <td><a href="/user/retrieve?id={{ .ID }}">{{ .Email }}</a></td>
				<td><a href="/user/delete?id={{ .ID }}">Remove</a></td> 
				<td><a href="/user/update?id={{ .ID }}">Edit</a></td>
        	<tr>
		</tbody>
        {{ end }}
    </table>
</body>

</html>